@use 'resets';

body {
  font-family: sans-serif;
  color: #2e4558;
  background-color: #f5f9fb;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
